fastapi
uvicorn
python-multipart
requests
dotenv
pandas
numpy
beautifulsoup4
google-generativeai
matplotlib
seaborn
lxml
pdfplumber
pymupdf
tabula-py
httpx
Pillow
duckdb
html5lib
PyPDF2
scikit-learn
sqlalchemy